html(lang="en")
  head
    title Daniel Pagharion | Web Developer
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro")

  body
    .site-wrapper
      nav
        #nav-container 
          .nav-icon
              span
              span
              span
              span
      .menu-container 
        ul.menu
          li(class='active') 
            a(href='#') Home
          li 
            a(href='#') Blog
          li 
            a(href='#') Dance
          li 
            a(href='#') Photos
          li 
            a(href='#') Contact
      
      
      section.hero
        h1 
          span daniel
          |pagharion 
        h2 web developer
        h3
          img(src='assets/img/oakland.jpg' alt='Oakland tree logo') 
          |Oakland, CA
      section.about
          h4 who
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      section.projects
        h4 things i'm working on
        ul
          li
            div.left
            div.right  
          li
            div.left
            div.right  
          li
            div.left
            div.right
        .contact  

    script(type='text/javascript' src='client.min.js')
