// $notSoDark: #555;
$shadows: #cdcdcd;
$charcoal: #4a4a4a;
$errorRed: rgb(186, 49, 45);
$coolRed: lighten($errorRed, 11%);

$successGreen: rgb(11, 193, 62);


$winterWhite: #ECEFF1;


$blueGray: #263238;
