$notSoDark: #555;
$shadows: #cdcdcd;
$errorRed: rgb(186, 49, 45);
$coolRed: lighten($errorRed, 11%);

$successGreen: rgb(11, 193, 62);


$whiteMatBlueGray: #ECEFF1;
$whiterMatBlueGray: #CFD8DC;


$lightMatBlueGray: #90A4AE;
$matBlueGray: #607D8B;
$darkerMatBlueGray: #546E7A;
$darkestMatBlueGray: #455A64;
$darkestestMatBlueGray: #263238;
