@media screen and (max-width: 800px)  {
.site-wrapper {


  section.hero {
    h1 {
      font-size: 9vw;
    }
    h2 {
      font-size: 7vw;
    }
  }

  section.about {
    p {
      font-size: 5vw;
      width: 85%;
      line-height: 7vw;
    }
  }

  section.projects {
    h4 {
      text-align: center;
      margin: 48px auto 24px;
      font-size: 14vw;
    }
    ul.projects-list {
      li.project {
        display: flex;
        flex-direction: column;
        .left {
          text-align: center;
          margin: 0 auto;
          width: 80%;
          h5 {
            margin: 0;
            font-size: 8vw;
          }
          p {
            font-size: 3vw;
          }
        }
        .right {
          margin: 0 auto;
          width: 80%;
        }
      }
    }

  }

  section.contact {
    h6 {
      font-size: 10vw;
    }
    a {
      font-size: 8vw;
    }
    ul.socials {

      li {
        margin: 0 32px;
        img {
          width: 36px;
        }
      }
    }
  }
}

}

@media screen and (max-width: 480px)  {
  .site-wrapper {
    section.hero {
      h1 {
        font-size: 16vw;
        span {
          display: block;
        }
      }
      h2 {
        font-size: 11vw;
        margin-bottom: 48px;
      }
    }

    section.about {
      img {
        width: 128px;
        height: 128px;
      }
    }


    section.projects {
      h4 {
        margin: 48px auto 0;
      }
      ul.projects-list {
        li.project {
          margin: 72px auto;
          .left {
            h5 {
              margin: 12px auto;
              font-size: 11vw;
            }
            p {
              display: none;
            }
          }
        }
      }
    }
    section.contact {
      a.emailBtn {
        display: none;
      }
      ul.socials {
        li.mail-alt {
          display: block;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
