// @import 'home-mobile';
.c-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 12px 48px;
  &__item {
    text-decoration: none;
    padding: 12px 6px;
    margin: 0 24px;
    color: $blueGray;
    position: relative;
    overflow: hidden;
    padding-bottom: 12px;
  }


  &__item:before {
    display: block;
    content: "";
    border-bottom: 1px solid $blueGray;
    width: 100%;
    transition: 0.4s all;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
  }
  &__item:hover:before {
    left: 0
  }
}
.c-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  color: $blueGray;
  position: relative;
  &__socials {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 24px auto;
    li {
      margin-right: 24px;
      svg {
        path {
          fill: $blueGray;
        }
        width: 24px;
        height: 24px;
        transition: 0.2s all;
        &:hover {
          path {
            fill: darken($blueGray, 5%);
          }
        }
      }
    }
  }
  &__lockup {
    padding: 24px 32px;
    border-top: 12px solid $blueGray;
    border-bottom: 12px solid $blueGray;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__deets {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    margin-right: 36px;
  }

  &__img {
    width: 240px;
    height: 240px;
    box-shadow: 0px 2px 4px #B0BEC5;
    border-radius: 50%;
    opacity: 1;
  }

  h1 {
    font-size: 6em;
    text-transform: uppercase;
    // transition: 1s all;
  }
  h2 {
    font-size: 3em;
    // transition: 1s all;
  }

  h3 {
    font-size: 2em;
    color: $blueGray;
  }
  img.arrow-down {
    width: 50px;
    animation: down_arrow_bounce 2s linear infinite
  }
}
.c-about {
    background: $winterWhite;
    color: $blueGray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    img {
      display: block;
      height: 100%;
      width: 50%;

    }
    &__bio {
      width: 80%;
      font-size: 1.4em;
      line-height: 1.6em;
      margin: 0 auto;
      span:not(.c-about__bio-loc) {
        margin: 24px auto;
        display: block;
      }
      a.hiphop {
        text-decoration: none;
        color: $blueGray;
      }
    }

}



.c-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &.wp-fadein {
    .c-projects__project {
      .left {
        display: block;
        opacity: 1;
        transform: translateX(0%);

      }
      .right {
        display: block;
        opacity: 1;
        transform: translateX(0%);
        float: none;

      }
    }
  }
  h4 {
    margin-top: 60px;
    margin-left: 48px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: $blueGray;
  }
  &__projects-list {
    width: 100%;
  }
  &__project {
    margin: 96px auto;
    display: flex;
    width: 100%;
    position: relative;

    .left {
      display: block;
      width: 40%;
      transform: translateX(-10%);
      transition: 1.3s transform, 1.3s opacity;
      opacity: 0;
      text-align: center;

      h5 {
        font-size: 2em;
        color: $blueGray;
        border-bottom: 1px solid $winterWhite;
        padding-bottom: 5px;
        display: inline-block;
        a {
          text-decoration: none;
          color: $blueGray;
        }
      }

      a:visited {
        color: $blueGray;
        background: none;
      }


    }
    .right {
      display: block;
      width: 60%;
      border: 1px solid $winterWhite;
      box-shadow: 0px 5px 10px $shadows;
      float: right;
      opacity: 0;
      height: 100%;
      // transform: translateX(10%);
      transition: 1.3s opacity, 1.3s transform;

      img {
        display: inline;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__site-link {
    display: block;
    margin: 48px auto;
    text-align: center;
    padding: 12px 24px;
    color: $blueGray;
    text-transform: uppercase;
    border: 1px solid $blueGray;
    width: 200px;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 0px 1px 1px $blueGray;
    transition: 0.4s all;
    &:hover {
      background: $winterWhite;
      // color: white;
    }
  }

  &__nerd-notes {
    display: block;
    margin: 24px auto;
    width: 80%;
    font-size: 1.2em;
    line-height: 1.7em;
    color: $blueGray;
    background: $winterWhite;
    padding: 24px;
    // border-radius: 10px;

  }


}

.c-contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: $blueGray;
  width: 100%;
  height: 100%;
  padding: 40px 0;
  h6 {
    margin: 24px auto;
    color: $winterWhite;
    text-align: center;
    font-size: 4em;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    margin: 24px auto;
    color: $winterWhite;
    padding-bottom: 0;
    transition: 0.2s padding-bottom;
    width: auto;
    &.c-contact__emailBtn {
      position: relative;
      overflow: hidden;
      padding-bottom: 12px;
    }

    &.c-contact__emailBtn:before {
      display: block;
      content: "";
      border-bottom: 1px solid $winterWhite;
      width: 100%;
      transition: 0.4s all;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: -100%;
    }
    &.c-contact__emailBtn:hover:before {
      left: 0
    }
  }
  &__mail-alt {
    display: none;
  }
  &__socials {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    li {
      margin: 0px 36px;
      svg {
        path {
          fill: $winterWhite;
        }
        width: 24px;
        height: 24px;
        transition: 0.2s all;
        &:hover {
          path {
            fill: darken($winterWhite, 10%);
          }
        }
      }
    }
  }
}

section {
  height: 100vh;
  width: 100vw;
}
