@import "normalize";
@import "typography";
@import "vars";
@import "colors";
@import "animations";
@import "mixins";


// Pages
@import "home";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited, &:active {
    color: inherit;
  }
}

.container {
  max-width: 1448px;
  margin: 0 auto;
}


.site-wrapper {
  width: 100%;
  font-family: $font-stack;
  overflow: hidden;
}
