.c-nav {
  display: flex;
  width: 100%;
  padding: 6px 48px;
  justify-content: center;
  background-color: $blueGray;
  position: fixed;
  top: 0;
  color: $winterWhite;
  z-index: 5;
  flex-direction: column;
  @include media($tablet) {
    justify-content: space-between;
    padding: 12px 48px;
    flex-direction: row;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__left {
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item {
    display: inline-block;
    text-decoration: none;
    padding: 12px 6px;
    margin: 0 12px;
    color: $winterWhite;
    position: relative;
    padding-bottom: 12px;
    @include media($tablet) {
      overflow: hidden;
      margin: 0 24px;
    }
  }


  &__item:before {
    display: none;
    content: "";
    border-bottom: 1px solid $winterWhite;
    width: 100%;
    transition: 0.2s all;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -100%;
    @include media($tablet) {
      display: block;
    }
  }
  &__item:hover:before {
    left: 0
  }
}
